# MCP Server Transport Type: either http or stdio
MCP_SERVER_TRANSPORT=http
POKEMON_TCG_API_KEY=<Key for dev.pokemontcg.io>

# If the Pokémon TCG API tools should be enabled
FLAG_TCG_API=false
GITHUB_API_KEY=<GitHub Personal Access Token>